<html>

<head>
    <link rel="stylesheet" type="text/css" href='../css/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body id='regBody'>
    <div class='row'>
        <br/>
        <div class='col-lg-4'></div>
        <div class='col-lg-4'>
            <form id='loginForm'>
                <label  class="regHeading"><b>Login Form</b></label></br>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="text" class="form-control" id="password">
                </div>
                <div class="form-group">
                      
                        <button type="submit" class="btn btn-success" id="btnlogin">Login</button>
                        <button type="button" class="btn btn-danger" id="btncancel">Cancel</button>
                </div>
                <div class="form-group">
                      <b><p class='p'>don't have account? <a href='registration.html' style='text-decoration-style: solid'> Sign up here </a></p></b><br/>
                      <b><a class='a' href='forgetPassword.html' style='text-decoration-style: solid'> Forgot Your Password </a></b>
                </div>
                </form>

                
        </div>
    </div>
</body>

</html>